@keyframes bgAnim {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.auth {
    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bgAnim 40s ease 0s infinite alternate-reverse both;


    .logo {
        position: absolute;
        top: 60px;

        img {
            height: 50px;
        }
    }

    .box {
        width: 100%;
        max-width: 460px;
        border-radius: 20px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}