.sales{
    .outlet-section{
        height: 505px;
        ul{
         margin: 0;
         padding: 0;
         overflow-y: auto;
         height: 410px;
         // background-color: red;
         li{
             border-bottom: 1px solid #e3e3e3;
             list-style: none;
             padding: 17px 0;
             font-weight: bold;
             &:last-of-type{
                 border-bottom: 0;
             }
 
             &:first-of-type{
                 padding-top: 0;
             }
             .area{
                 font-size: 20px;
                 margin-bottom: 0;
                 color: black;
             }
             .total{
                 color: #454545;
                 font-size: 18px;
                 margin-bottom: 0;
             }
         }
        }
     }

     .sales-funneling{
        .title{
            font-size: 20px;
            font-weight: bold;
        }
        .date{
            font-size: 10px;
            color: #8B8B8B;
        }

        .tablefunnel{
            table{
                font-size: 10px;
                th{
                    text-transform: capitalize;
                    font-weight: bold;
                }
            }
        }
     }

     .delivandpay{
        .piebox{
            // height: 250px;
        }
        .customlegend{
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                    .val{
                        font-size: 10px;
                        color: #454545;
                    }
                }
            }
        }

     }
    
}

.ant-tabs {
    &-nav {
      display: flex;
  
      .ant-tabs-tab {
        flex-grow: 1;
        margin-right: 0px;
        width: 100%;
        text-align: center;
      }
    }
  }