// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

//poppin
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap');
//antd version 5
@import '~antd/dist/reset.css';
//bootstrapt
@import '~bootstrap/dist/css/bootstrap.min.css';
//sass utility for breakpoint
@import '~bootstrap/scss/bootstrap-utilities';


* {
    // font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif !important;
}

p{
    font-size: 14px;
}

small{
    font-size: 10px;
}



//colors
$yellow : #fd0;
$light-grey : #e5e5e59c;
$smoke: #E8E8E8;
$blue : #0090FF;
$green: #1AD598;
$red: #FF0000;
$gray: #8B8B8B;
$orange: #FF9800;


.title {
    font-size: 20px;
    font-weight: bold;
}

.title-box {
    color: #8B8B8B;
    font-size: 14px;
    text-transform: uppercase;
}
.step {
    color: $yellow;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.label{
    color: $gray;
    font-size: 12px;
    margin-bottom: 3px;
}




.ant-switch-checked {
    background-color:$green !important;
 }

.text-blue{
    color: $blue !important;
}

.text-danger{
    color: $red !important;
}
.bg-danger{
    background: $red !important;
}

.text-success{
    color: $green !important;
}

.text-warning{
    color: $yellow !important;
}
.bg-warning{
    background: $yellow !important;
}

.text-orange{
    color: $orange !important;
}
.bg-orange{
    background: $orange !important;
}


.pointer {
    cursor: pointer;
}

.legend-chart{
    margin: 0;
    padding: 0;
    .boxcol{
        width: 15px;
        height: 15px;
    }
}

.gbox{
    border-radius: 10px;
    padding: 20px 30px;
}

.p-30{
    padding: 30px;
}


/* CSS custom button style */
.custom_button01 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
//   min-height: 3rem;
//   padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.custom_button01:hover,
.custom_button01:focus {
//   background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.custom_button01:hover {
  transform: translateY(-1px);
}

.custom_button01:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.strike{
    text-decoration: line-through;
}

.disable_mobile_screen{
    z-index: 99999999999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(58, 57, 57);
    color: whitesmoke;
}






@import './styles/auth.scss';
@import './styles/dashboard.scss';
@import './styles/sales.scss';
@import './styles/marketing.scss';
@import './styles/live-agent.scss';
@import './styles/product.scss';
@import './styles/shared.scss';